.navbar.navbar-brand {
    text-align: left;
}

#nav_logo {
    height: 20;
    width: 80px;
}

.body-content {
    position: fixed;
    top: 0;
    left: 0;
}

.link {
    color: black;
    font-size: 14px;
    float:left;
}

.link:hover {
    color: black;
    background-color: lightgray;
}

#header-content {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;
}

.content {
    background-image: url("sandwich.jpeg");
    background-repeat: repeat-x;
    background-position-x: -20px;
    background-position-y: 56px;
    opacity: 0.50;
    z-index: -1;
    width: 100%;
    height: 733px;
    position: relative;
}

.text-content {
    font-family: 'Permanent Marker';
    font-size: 64px;
    z-index: 5;
    position: relative;
    top: -450px;
    left: 0px;
    color: black;
    text-align: center;
}

.b-content {
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 16px;
    position: relative;
    top: -200px;
}

.section {
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
}

.menu-section{
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

table, th, tr *{
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
}

.section > .row{
    margin-top: 20px;
}

.merch-section{
    padding-left: 10px;
    padding-right: 10px;
}

.merch-section.grid-item > div *{
    margin-bottom: 10px;
} 

#menu-2 > *{
    margin-bottom: 10px;
}

div#catering-list {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    border-top: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    align-self: center;
    position: relative;
    top: -15px;
}

.logo > img {
    height: 20px;
}

#catering-list {
    margin-top: 20px;
}

#mission {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
}

.learn_more {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

@media only screen and (max-width: 1144px) {

    /* #menu-2 > div *{
        float: none;
        width: 100%;
    } */

    /* .merch-section > table, th, td {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    } */
}

@media only screen and (max-width: 840px) {
    .merch-section{
        float: none;
    }
}

@media only screen and (max-width: 816px) {
    .navbar {
        float: none;
        width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    .navbar {
        float: none;
        width: 100%;
    }

    .merch-img {
        width: 100%;
    }

    /* .merch-section > table, th, tr {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    } */
}

@media only screen and (max-width: 649px){
    /* #menu-2 > table, th, tr {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    } */

    #menu-2 {
        float: none;
        width: 50%;
        margin-left: 25%;
    }
}

@media only screen and (max-width: 624px){
    #menu-2 {
        float: none;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 517){
    #menu-2 {
        float: none;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
