.navbar.navbar-brand {
    text-align: left;
}

.body-content {
    position: fixed;
    top: 0;
    left: 0;
}

.link {
    color: black;
    font-size: 14px;
    float:left;
}

.link:hover {
    color: black;
    background-color: lightgray;
}

#header-content {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid gray;
}

.content {
    background-image: url("sandwich.jpeg");
    background-repeat: repeat-x;
    background-position-x: -20px;
    background-position-y: 56px;
    opacity: 0.50;
    z-index: -1;
    width: 100%;
    height: 800px;
    position: relative;
}

.text-content {
    font-family: 'Permanent Marker';
    font-size: 64px;
    z-index: 5;
    position: relative;
    top: -450px;
    left: 0px;
    color: black;
    text-align: center;
}

.b-content {
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 16px;
    position: relative;
    top: -100px;
}

.section {
    margin-bottom: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    /* columns: 1fr 1fr 1fr; */
    /* float: left; */
}

.menu-section{
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

table, th, tr *{
    /* margin: 5px; */
    border: 1px solid black;
}

tr {
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
}

.section > .row{
    margin-top: 20px;
}

.merch-section{
    padding-left: 10px;
    padding-right: 10px;
    /* float: left; */
}

.merch-section.grid-item.col > div *{
    margin-bottom: 10px;
} 

div > * {
    text-align: center;
}

@media only screen and (max-width: 816px) {
    .navbar {
        float: none;
        width: 50%;
    }

    /* .merch-img {
        float: none;
        width: 100%;
    } */
    
    /* .merch-section{
        float: none;
    } */
}

@media only screen and (max-width: 550px) {

    .navbar {
        float: none;
        width: 100%;
    }

     .merch-img {
        /* float: none; */
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {
    .merch-section{
        float: none;
    }
}